# Environment
.env
stack.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Tailwind Build Artifacts
tailwindcss-*-linux-x64
input.css
tailwind.config.js
